@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel/static/Cinzel-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-family: Cinzel;
  font-size: 1.5rem;
  margin-bottom: 2.5vh;
}

/* hero */
header {
  font-family: Cinzel;
  color: #fff;
  background: url("../img/background.avif") center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
/* logo */
header p {
  background-color: #fff;
  color: #999;
  font-size: 1.5rem;
  text-align: start;
  width: 100vw;
  padding: 1vh 2vh;
  position: fixed;
  top: 0;
}

h1 {
  font-size: 4rem;
  width: 40vw;
  text-align: center;
}

/* main */

main {
  text-align: center;
  padding: 5vh 9vw;
}

main section {
  font-family: Poppins;
  margin-top: 5vh;
}

/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  row-gap: 4vh;
  margin-block: 10vh;
}

.gallery img {
  height: 30vh;
}

/* tour dates */

.tour-dates p {
  text-align: left;
  margin-block: 1.6vh;
}

.sold-out::after {
  content: "- Sold out";
  text-transform: uppercase;
  color: red;
}

.almost-sold-out::after {
  content: "- Only 4 spots available";
  text-transform: uppercase;
  color: red;
}
.available::after {
  content: "- Available";
  text-transform: uppercase;
  color: green;
}

/* contact us*/
footer {
  border-top: 1px solid #ccc;
  margin-top: 5vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a:first-of-type {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5vh;
}

a {
  opacity: 0.6;
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 1;
}
